In [57]:
import pyspark
import pandas as pd  
from pyspark.sql import SparkSession

In [58]:
data = pd.read_csv('test1.csv')
data

      Name  Age  Experience
0     Sam    19           1
1  Anthony   21           2
2   James    24           5

In [59]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Name").getOrCreate()

In [60]:
spark

In [61]:
df_pyspark = spark.read.csv('test1.csv')

To view entire dataset

In [62]:
df_pyspark.show()

+-------+---+----------+
|    _c0|_c1|       _c2|
+-------+---+----------+
|   Name|Age|Experience|
|   Sam | 19|         1|
|Anthony| 21|         2|
| James | 24|         5|
+-------+---+----------+

To display columns

In [63]:
df_spark = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [64]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [65]:
df_pyspark.head(3)

[Row(_c0='Name', _c1='Age', _c2='Experience'),
 Row(_c0='Sam ', _c1='19', _c2='1'),
 Row(_c0='Anthony', _c1='21', _c2='2')]

In [66]:
#check the schema (datatypes)
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [67]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)

In [68]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [69]:
import pyspark 
from pyspark.sql import SparkSession

In [70]:
spark = SparkSession.builder.appName('Name').getOrCreate()

In [71]:
df_pyspark  = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [72]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [73]:
df_pyspark.head(3)

[Row(Name='Sam ', Age=19, Experience=1),
 Row(Name='Anthony', Age=21, Experience=2),
 Row(Name='James ', Age=24, Experience=5)]

Selecting a column

In [75]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|   Sam |
|Anthony|
| James |
+-------+

In [76]:
#Selecting multiple columns 
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|   Sam |         1|
|Anthony|         2|
| James |         5|
+-------+----------+

In [79]:
df_pyspark['Name']#This doesnt have a show

Column<'Name'>

In [81]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [82]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [83]:
df_pyspark.describe().show()

+-------+-------+------------------+------------------+
|summary|   Name|               Age|        Experience|
+-------+-------+------------------+------------------+
|  count|      3|                 3|                 3|
|   mean|   NULL|21.333333333333332|2.6666666666666665|
| stddev|   NULL|2.5166114784235836|2.0816659994661326|
|    min|Anthony|                19|                 1|
|    max|   Sam |                24|                 5|
+-------+-------+------------------+------------------+

In [88]:
#Adding columns in df 
df_pyspark = df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience'] + 2)

In [89]:
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 years|
+-------+---+----------+------------------------+
|   Sam | 19|         1|                       3|
|Anthony| 21|         2|                       4|
| James | 24|         5|                       7|
+-------+---+----------+------------------------+

In [91]:
##Drop the columns 
df_pyspark = df_pyspark.drop('Experience After 2 years')
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|   Sam | 19|         1|
|Anthony| 21|         2|
| James | 24|         5|
+-------+---+----------+

In [92]:
###Rename the column 
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|    Sam | 19|         1|
| Anthony| 21|         2|
|  James | 24|         5|
+--------+---+----------+